<div class="alert alert-info">
	<h2>Get advice on where to live in 3 easy steps!</h2>
</div>

<br/>

<h1>1. What college department are you a part of?</h1>
<br/>
<div class="row">
	<div class="span6 offset1">
		<select class="span5 dropdown">
			<option>CIT - Carnegie Institute of Technology</option>
			<option>CFA - College of Fine Arts</option>
			<option>HSS - Humanities &amp; Social Sciences</option>
			<option>IS - Information Systems</option>
			<option>MCS - Mellon College of Sciences</option>
			<option>SCS - School of Computer Science</option>
			<option>Tepper - Tepper School of Business</option>
			<option>BHA - Bachelor of Humanities &amp; Arts</option>
			<option>BSA - Bachelor of Science &amp; Arts</option>
			<option>BCSA - Bachelor of CS &amp; Arts</option>
			<option>HCI - Human Computer Interaction</option>
			<option></option>
			<option></option>
		</select>
	</div>
</div>

<br/>

<h1>2. Arrange these criteria in order of preference <small>more important ones at the top</small></h1>
<br/>
<div class="row">
	<div class="span6 offset1">
		<ul id="sortable">
			<li class="pref-box ui-state-default span4">Economic Considerations</li>
			<li class="pref-box ui-state-default span4">Proximity (close to Campus)</li>
			<li class="pref-box ui-state-default span4">Size</li>
			<li class="pref-box ui-state-default span4">Quality of Housing</li>
			<li class="pref-box ui-state-default span4">Social Life</li>
			<li class="pref-box ui-state-default span4">Safety</li>
		</ul>
	</div>
</div>

<br/>

<h1>3. Pick your ideal price range</h1>	
<br/>
<div class="row">
	<div class="span3 offset1">
		<select class="span3 dropdown">
			<option>less than $500</option>
			<option>$500 to $800</option>
			<option>more than $800</option>
		</select>
	</div>
</div>

<br/>

<span class="btn btn-primary btn-large"><i class="icon-thumbs-up icon-white"></i> Tell me what to do!</span>

<script>
	$(function() {
		$( "#sortable" ).sortable({
			placeholder: "ui-state-highlight"
		});
		$( "#sortable" ).disableSelection();
	});
</script>